<tr>
  <td class="muted center_text">
    <%- locals = {:item_form => item_form, :variant => variant, :line_item => line_item} %>
    <div data-hook="cart_item_image">
      <% if variant.images.length == 0 %>
        <%= small_image(variant.product) %>
      <% else %>
        <%=  image_tag variant.images.first.attachment.url(:small)   %>
      <% end %>
    </div>
  </td>
  <td>
    <div data-hook="cart_item_description">
      <h4><%= link_to variant.product.name,  product_path(variant.product) %></h4>
      <% if variant %>
        <p><%= variant_options variant %></p>
        <% if variant.product.description %>
          <p><%= truncate(variant.product.description, :length => 100, :omission => "...") %></p>
        <% end %>
      <% end %>
    </div>
  </td>
  <td>
    <div data-hook="cart_item_price">
      <%=  product_price(line_item) %>
    </div>
  </td>
  <td>
    <div data-hook="cart_item_quantity">
      <%= item_form.text_field :quantity, :class => "input-mini line_item_quantity" %>
    </div>
  </td>

  <td>
    <div data-hook="cart_item_total">
      <%= format_price(product_price(line_item, :format_as_currency => false) * line_item.quantity) unless line_item.quantity.nil? %>
    </div>
  </td>
  <td>
    <div data-hook="cart_item_delete">
      <%= link_to(image_tag('/images/admin/icons/delete.png'), '#', :class => 'delete', :onclick => "") %>
    </div>
  </td>

</tr>
